:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "ZingRust";
    src: url("../fonts/ZingRustDemo-Base.otf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto-Mono-Regular.ttf")
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(15px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(30px);
    }
}

html {
    background: url("../assets/background.svg") no-repeat center center fixed; 
    background-size: cover;
    overflow: hidden;
}

.visible {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

.main__content {
    display: inline;
}

.welcome__content {
    transition: 0.5s;
    padding: 95px 208px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
}

.calculate__content {
    transition: 0.5s;
    padding: 64px 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
}

.welcome__text {
    font-size: 8rem;
    font-family: "ZingRust";
    color: #fff;
    font-style: normal;
    font-weight: normal;
}

.input__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72.5px;
    width: 100%;
}

.vertical__line {
    margin: 0 54px;
    display: inline-block;
    height: 341px;
    width: 3px;
    background-color: #5E3593;
}

.textarea__block {
    width: 100%;
    height: 322px;
    background: rgba(140, 91, 185, 0.2);
    border: 2px solid #8C5BB9;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 11px;
    display: flex;
    flex-direction: column;
}

.textarea__container {
    padding: 14px;
    height: 100%;
    width: 100%;
    display: flex;
}

.textareas {
    font-family: "Roboto";
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    color: #fff;
    outline: none;
    resize: none;
    overflow-y: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 27px; 
}

.textareas::-webkit-scrollbar {
    width: 0;
}

.textareas__animate {
    animation: 200ms linear 0s fadeLeft;
}

.textareas::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.char__counter__block {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 29px;
}

.char__counter__unactive {
    background: rgba(96, 26, 73, 0.6);
    border: 3px solid #A22C7B;
    border-radius: 20px;
    color: #fff;
    font-size: 1.8rem;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    padding: 15px;
}

.char__counter__active {
    background: #231F52;
    border: 3px solid #6B64BE;
    border-radius: 20px;
    color: #fff;
    font-size: 1.8rem;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    padding: 15px;
} 

.text__lock {
    display: inline-block;
    content: url("../assets/locked.svg");
    margin-right: 10px;
}

.text__unlock {
    display: inline-block;
    content: url("../assets/unlocked.svg");
    margin-right: 10px;
}

.buttons__content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 87px;
}

.autofill__button {
    background: #762C70;
    border-radius: 50px;
    border: none;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    outline: none;
    font-size: 2.4rem;
    font-family: "ZingRust";
    cursor: pointer;
    margin-right: 94px;
}

.copypaste__icon {
    display: inline-block;
    content: url("../assets/copypaste.svg");
    margin-right: 10px;   
}

.confirm__button__unactive {
    background: #4F4F57;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.confirm__button__active {
    background: #6B64BE;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.next__icon {
    content: url("../assets/next.svg");
    display: inline-block;
}

.output__blocks__container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.output__blocks {
    background-color: #322D6C;
    border-radius: 35px;
    padding: 29px 23px 18px 23px;
    margin: 0 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.output__blocks__header {
    text-align: center;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: normal;
    font-family: "ZingRust";
    color: #fff;
}

.entropy__text {
    text-align: center;
    width: 100%;
    background: rgba(43, 39, 98, 0.5);
    border-radius: 15px;
    color: #fff;
    font-family: "ZingRust";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: normal;
    padding: 20px 0;
}

.entropy__text span {
    font-family: "Roboto Mono";
    margin-left: 12px;
}

.D__block {
    margin-top: 16px;
    padding: 23px 26px;
    background: rgba(43, 39, 98, 0.5);
    border-radius: 15px;
    width: 100%;
}

.D__header {
    font-family: "ZingRust";
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
}

.D__content {
    color: #fff;
    font-family: "Roboto Mono";
    font-size: 2.2rem;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
}

.D__content span {
    display: inline-block;
    margin-left: 16px;
}

.D__content p {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.output__buttons__content {
    font-family: "ZingRust";
    background: rgba(43, 39, 98, 0.5);
    border-radius: 30px;
    padding: 26px 100px;
    color: #fff;
    margin-top: 40px;
}

.output__buttons__header {
    font-size: 3rem;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

.output__buttons__container {
    margin-top: 53px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.information__button {
    background: #762C70;
    border-radius: 50px;
    border: none;
    padding: 14px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-size: 2.4rem;
    cursor: pointer;
    font-family: "ZingRust";
    color: #fff;
    margin-right: 90px;
}

.info__ico {
    display: inline-block;
    content: url("../assets/info.svg");
    margin-right: 10px;
    width: 37px;
    height: 38px;
}

.retry__button {
    background-color: #6B64BE;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.retry__ico {
    display: inline-block;
    content: url("../assets/repeat.svg");
}

.about__block {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 0 35px;
    display: none;
}

.about__block__visible {
    display: block;
    animation: 200ms linear 0s fadeUp;
}

.about__block__hide {
    animation: 200ms linear 0s fadeDown;
    display: block;
}

.about__container {
    padding: 15px 20px 20px 20px;
    background: #2B2762;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    color: #fff;
}

.about__container__header {
    font-size: 3rem;
    font-family: "ZingRust";
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.samplecalc__logo {
    display: inline-block;
    content: url("../assets/samplecalc_logo.svg");
    margin-right: 6px;
}

.description {
    margin-top: 16px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 2rem;
}

.description a {
    color: #fff;
}

.description span {
    font-family: "Roboto Mono";
    font-weight: normal;
}

.other__description {
    font-family: "Roboto";
    font-size: 1.8rem;
    margin-top: 24px;
}

.close__ico {
    content: url("../assets/close.svg");
    display: inline-block;
    max-width: 57px;
}

.close__btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: auto;
    display: block;
}